.statistics__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px 24px;
    @media (max-width:1100px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:550px) {
        grid-template-columns: repeat(1,1fr);
    }
    .statistics__list_item {
        display: flex;
        justify-content: space-between;
        padding: 25px 18px 18px 21px;
        border-radius: 20px;
        backdrop-filter: blur(120px);
        background: linear-gradient(
            175.7deg,
            rgba(6, 11, 38, 0.74) 31.914%,
            rgba(26, 31, 55, 0.5) 86.027%
        );
        .left {
            .label {
                color: rgb(160, 174, 192);
                font-size: 12px;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0%;
				margin-bottom: 3px;
            }
            .amount {
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0%;
            }
        }
        .right {
            div {
				display: flex;
				justify-content: center;
				align-items: center;
                width: 45px;
                height: 45px;
                border-radius: 12px;
                box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
                background: rgb(0, 117, 255);
            }
        }
    }
}
