.form__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    .errors {
        position: absolute;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(30, 30, 33, 255);
        border-radius: 20px;
        border: 3px solid #242426;
        padding: 20px;
        width: 446px;

        input {
            padding: 20px 0px 20px 23px;
            border: 1px solid white;
            height: 60px;
            width: 100%;
            border-radius: 10px;
            text-align: center;

            background: linear-gradient(
                92.69deg,
                rgba(255, 255, 255, 0) -45.295%,
                rgba(255, 255, 255, 0.04) 104.212%
            );
            color: white;
            font-size: 20px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 20px;
        }
        &::placeholder {
            color: rgb(160, 174, 192);
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
        }
        label {
            color: rgb(255, 255, 255);
            font-size: 25px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 15px;
            padding-left: 5px;
            text-transform: uppercase;
        }
        p {
            color: #5e5e61;
            font-size: 15px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 15px;
            padding-left: 5px;
            align-self: center;
            text-align: center;
        }
        .goBackButton {
            background-color: #242426;
            color: #ffffff;
            padding: 15px;
            width: 70%;
            border-radius: 20px;
            transition: 0.3s ease;
            margin-top: 30px;
            &:hover {
                opacity: 0.7;
            }
        }
        .onSubmitButton {
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-size: 12px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            border-radius: 12px;
            backdrop-filter: blur(120px);
            background: rgb(0, 117, 255);
            padding: 16px 100px;
            transition: 0.3s ease;
            width: 100%;
            margin-bottom: 5px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
