.root {
    border-radius: 20px;
    box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.02);
    background: linear-gradient(
        136.78deg,
        rgba(6, 11, 40, 0.94) 0%,
        rgba(10, 14, 35, 0.62) 108.802%
    );
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 700px) {
        flex-direction: column;
        gap: 10px 0;
    }

    .left {
        display: flex;
        align-items: center;
        gap: 0 23px;
        @media (max-width: 700px) {
            flex-direction: column;
            gap: 10px 0;
            text-align: center;
        }
     
        .userInfo {
            .name {
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: 700;
                line-height: 140%;
            }
            .email {
                color: rgb(160, 174, 192);
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
    .right {
        @media (max-width: 900px) {
            width: 50%;
        }
        @media (max-width: 700px) {
            width: 100%;
        }
        .nav__list {
            display: flex;
            align-items: center;
            @media (max-width: 900px) {
                flex-direction: column;
            }
            .list__item {
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 5px;
                border-radius: 15px;
                width: 150px;
                background: transparent;
                padding: 10px 20px;
                @media (max-width: 900px) {
                    width: 100%;
                }
                
                p {
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 150%;
                    text-transform: uppercase;
                }
            }
			.active {
				background: rgb(0, 117, 255);
				cursor: pointer;
				user-select: none;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0 5px;
				border-radius: 15px;
				width: 150px;
				padding: 10px 20px;
                @media (max-width: 900px) {
                    width: 100%;
                }
				p {
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 150%;
                    text-transform: uppercase;
                }
			}
        }
    }
}
