.verifiedForm_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(30, 30, 33, 255);
        border-radius: 20px;
        border: 3px solid #242426;
        padding: 20px;
        label {
            color: rgb(255, 255, 255);
            font-size: 25px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 15px;
            padding-left: 5px;
            text-transform: uppercase;
        }
        p {
            color: #5e5e61;
            font-size: 15px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 15px;
            padding-left: 5px;
            align-self: center;
        }
        .content {
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .problems {
                text-align: center;
                color: #5e5e61;
                margin-bottom: 5px;
            }
            .resendCode_wrapper {
                display: flex;
                align-items: center;
                flex-direction: column;

                .resendCodeButton {
                    background-color: transparent;
                    text-align: center;
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0%;
                    text-align: left;
                    margin-bottom: 5px;
                    padding-left: 5px;
                }
                p {
                    color: white;
                    margin-bottom: 0;
                }
            }
            .goBackButton {
                background-color: #242426;
                color: #ffffff;
                padding: 15px;
                width: 70%;
                border-radius: 20px;
                transition: 0.3s ease;
                margin-top: 10px;
                &:hover {
                    opacity: 0.7;
                }
            }
            .submitButton {
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                font-size: 12px;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                border-radius: 12px;
                backdrop-filter: blur(120px);
                background: rgb(0, 117, 255);
                padding: 16px 140px;
                transition: 0.3s ease;
                width: 100%;
                margin-bottom: 20px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
