.root {
    border-radius: 20px;
    padding: 36px 5px;
    height: 500px;
    position: sticky;
    top: 10px; 
    z-index: 51;
    top: 18px;
    position: fixed;
    height: 1000px;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, ) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
    animation-name: slideIn;

   
   
    .close {
        display: none;
        @media (max-width:1440px) {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
        }    
    }
  
    .logo__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px 0;
        margin-bottom: 15px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        .active {
            border-radius: 15px;
            box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
            background: rgb(26, 31, 55);
            display: flex;
            padding: 0.675rem 0.8rem 0.675rem 1rem;
            gap: 0 15px;
            align-items: center;
            width: 218px;
            height: 53px;
        }
        .menu__item {
            display: flex;
            padding: 0.675rem 0.8rem 0.675rem 1rem;
            gap: 0 15px;
            align-items: center;
            width: 218px;
            height: 53px;
        }
        .menu__icon {
            padding: 8px;
            border-radius: 12px;
            box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
        }
        p {
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
        }
        .accountPages {
            color: rgb(255, 255, 255);
            font-size: 12px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0%;
			text-transform: uppercase;
			padding-left: 16px;
			margin: 16px 0px 8px 0px;
            
        }
    }
}
