.root {
    display: flex;
    align-items: center;
    gap: 0 5px;
    .icon__wrapper {
        @media (max-width:438px) {
            display: none;
        }
    }
    p {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0%;
        text-transform: uppercase;
        @media (max-width:438px) {
            font-size: 14px;
        }
    }
}
