.root {
    display: grid;
    grid-template-columns: 264px 1fr;
    padding: 10px;
    background: linear-gradient(
        169.05deg,
        rgb(15, 18, 59) 12.524%,
        rgb(9, 13, 46) 57.788%,
        rgb(2, 5, 21) 89.642%
    );
    min-height: 100vh;
}
