.root {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        background-color: #060b27;
        border-radius: 10px;
        .content {
            border: #1a213b 1px solid;
            border-radius: 10px;
            display: grid;
            grid-template-columns: repeat(2, 700px);
            .left {
                position: relative;
                background-image: url('@../../../../../../../public/dashboard-page/projects/5177978.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: -70px;
                padding: 20px;
                border-radius: 10px 0px 0 10px;
                border-right: #1a213b 1px solid;
                p {
                    margin-top: 10px;
                    color: white;
                    font-size: 30px;
                    font-weight: 700;
                }
            }
            .right {
                position: relative;
                padding: 30px 100px;
                .close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
                .steps {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0 20px;
                    padding-bottom: 30px;
                    border-bottom: #1a213b 1px solid;
                    margin-bottom: 30px;
                    .step {
                        display: flex;
                        align-items: center;
                        gap: 0 15px;
                    }
                    .stepNumber {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 18px;
                        background-color: #0075ff;
                    }
                    span {
                        color: white;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }
        }

        .addProjectForm {
            .errors {
                position: absolute;
            }
            .title {
                margin-bottom: 30px;
            }
            .continueButton,
            .confirmButton {
                margin-top: 20px;
                width: 100%;
                padding: 12px 0;
            }
            .infoBlock {
                display: flex;
                flex-direction: column;
                height: 600px;
                .input__block {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                    .input__block_top {
                        display: flex;
                        justify-content: space-between;
                        p {
                            color: white;
                        }
                    }
                    textarea {
                        color: white;
                        padding-right: 10px;
                        min-height: 185px;
                    }
                    label {
                        color: white;
                        margin-bottom: 20px;
                        font-size: 16px;
                        span {
                            color: #2c52ea;
                        }
                    }
                    input {
                        color: white;
                        font-size: 17px;
                    }
                }

                :global {
                    .MuiOutlinedInput-notchedOutline {
                        border-color: #3c4862;
                    }
                }
            }
            .membersBlock,
            .confirmBlock {
                word-wrap: break-word;
                height: 600px;
                span {
                    color: #1565c0;
                    font-weight: 700
                }
                p {
                    color: white;
                    margin-bottom: 20px;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: 0%;
                }
                .membersCount {
                    margin-bottom: 20px;
                }
                .addMembers {
                    width: 30%;
                    padding: 12px 0;
                    margin-bottom: 300px;
                }
            }
            .buttons {
                display: flex;
                gap: 0 30px;
                flex-direction: row-reverse;
                justify-content: space-between;
                .backButton {
                    margin-top: 20px;
                    width: 100%;
                    padding: 12px 0;
                    background-color: #1a213b;
                }
            }
        }
    }
    .title {
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
    }
}
